.nav_list_wrapper {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 500;
  gap: 40px;
  margin: 0;
  padding: 24px 0;
}

.navItem {
  position: relative;
}

.navItem a {
  position: relative;
  color: #101828;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: #101828;
  transition: color 0.3s ease;
}

.link:hover {
  color: #e44848;
  text-decoration: underline;
}

.navItem .activeLink {
  color: #e44848;
}

@media (max-width: 1024px) {
  .nav_list_wrapper {
    padding: 0 24px;
  }

  .navList {
    gap: 32px;
  }
}

@media (max-width: 768px) {
  .nav_list_wrapper {
    padding: 0 16px;
  }

  .navList {
    gap: 20px;
    font-size: 18px;
  }
}
