.favorites_container {
  display: flex;
  gap: 64px;
  justify-content: center;
  margin: 24px 0;
}

.error {
  color: #e44848;
  font-weight: 600;
}

.empty_template {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 29px;
  font-weight: 700;
  color: #475467;
  text-align: center;
}

.empty_template_title {
  font-size: 30px;
}

@media (max-width: 1024px) {
  .favorites_container {
    gap: 32px;
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  .favorites_container {
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    padding: 0 16px 32px;
  }
}
